@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: 'Merienda', sans-serif;
}

p {
  font-family: 'Edu AU VIC WA NT Pre', sans-serif;
}

/* Caricamento dei font */
@font-face {
  font-family: 'Edu AU VIC WA NT Pre';
  src: url('/fonts/EduAUVICWANTPre-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Merienda';
  src: url('/fonts/Merienda-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}
